  .app {
    height: 100vh;
  }
  .html,
  .body {
    position: relative;
    height: 100%;
  }
  
  .body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }
  
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    font-family:Arial, Helvetica, sans-serif;  
    text-transform: uppercase;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  i{
    color:#3c4b64;
    font-size: 25px;
    text-align: justify;
    
  }
  .span{
    font-weight: bold;
    font-size: 35px;

  }
  .description {
    text-align: center;
  }
  .titre {
    font-size: 40px;
    margin: 40px 0px ;
  }
  .content {
    font-size: 20px;
    margin: 40px 0px ;
  }
  .name {
    text-transform: uppercase;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
  }